@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 46px;
    line-height: 60px;
    text-transform: capitalize;
    color: #fff;
}

h2 {
    font-size: 35;
    color: #333;
}

h3 {
    font-size: 20px;
    color: #333;
}

.section-description {}

p {
    font-size: 15px;
    color: #666;
}