.contacts-bg {
    background-image: url(../../img/backgrounds/contactc-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container > .row > .contacts-us {
    background-color: white;
    border-radius: 5px;
    padding: 2em;
    margin: 0 0 2em;
    width: 100%;
    box-shadow: 2px 10px 50px rgba(158, 158, 158, 0.25);
}

.contacts-us > .section-title {
    text-align: left;
    font-size: 1.25em;
}

.contacts-us > .contact-details {
    display: flex;
    margin-top: 2em;
    gap: 1em;
}

.contacts-us > .contact-details [class*='flaticon']::before {
    font-size: 2em;
    background: linear-gradient(var(--base-color-two), var(--base-color-one));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.contacts-us > [class*='flaticon']::before {
    font-size: 7em;
    background: linear-gradient(var(--base-color-two), var(--base-color-one));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.contact-details > .details > h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 600;
}

.contact-details > .details p {
    margin-top: 0;
}

.contact-details > .details a {
    display: block;
    color: #666666;
    font-size: 0.9em;
    transition: color 0.3s;
}

.contact-details > .details a:hover {
    color: var(--base-color-one);
}

@media (min-width: 576px) {
    .container > .row > .contacts-us {
        padding: 3em;
    }
    .contact-with-us > .contacts-us > .section-title {
        font-size: 1.8em;
    }
}

@media (min-width: 992px) {
    .contact-with-us > .contacts-us > .section-title {
        font-size: 2em;
    }

    .container > .row > .contacts-us {
        padding: 2em 3em;
        width: max-content;
        margin-top: -9em;
    }
}

@media (min-width: 1200px) {
    .container > .row > .contacts-us {
        padding: 3em 5em;
        margin-top: -9em;
    }
}

@media (min-width: 1400px) {
    .contact-with-us > .contacts-us > .section-title {
        font-size: 2.75em;
    }
}
