.header-comp {
    padding-top: 0;
    color: white;
    position: absolute;
    top: 0px;
}

.header-contacts-socials {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid rgba(0, 123, 255, 0.5);
}

.header-contacts > div > a {
    text-decoration: none;
}

.header-contacts {
    display: flex;
}

.header-contacts > div {
    padding-right: 25px;
}

.header-contacts > div > i {
    padding-right: 8px;
}

.header-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-socials > i {
    padding-left: 20px;
}

.header-socials > i:first-child {
    padding-left: 0px;
}

.header-logo-nav > .inner-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header-logo-nav > .inner-content > .navigation-cart-search {
    gap: 30px;
    display: flex;
}

.header-logo-nav .navigation-cart-search > nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.header-logo-nav .navigation-cart-search > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

.hamburger-menu {
    gap: 10px;
    align-items: center;
    line-height: 21px;
}

.hamburger-menu > p {
    color: white;
    line-height: 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 60px;
    background-color: var(--base-color-one);
    width: 100%;
}

.dropdown-menu > .header-link {
    padding: 15px 20px;
    border-bottom: 1px solid var(--base-color-two);
    text-transform: uppercase;
    font-weight: 500;
}

.dropdown-visible {
    display: flex;
}

@media (min-width: 992px) {
    .container > .fixed {
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        padding: 15px 0;
        margin: 0 !important;
        background: linear-gradient(
            270deg,
            var(--base-color-one),
            var(--base-color-two)
        );
        box-shadow: 0 0 5px 0 black;
    }
}
