.hero {
    background-image: url('../../img/backgrounds/hero-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7.5em;
}

.main-content {
    display: flex;
}

.main-content > .left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

.main-content > .right-content {
    display: flex;
    height: 90%;
}

.main-content > .right-content > .robot {
    height: 90%;
    align-self: flex-end;
}

.main-content > .right-content > .two-people {
    height: 80%;
    align-self: flex-end;
}

.images > img {
    width: 100%;
}

.main-title {
    font-size: 25px;
    line-height: 35px;
}

.main-description {
    color: #fff;
    font-size: 1em;
    margin: 0;
}

.main-content > .left-content > .buttons {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.buttons .btn {
    font-size: 0.75em;
    background: transparent;
    transition: all 0.3s;
    padding: 7px 20px;
}

.btn#active:hover {
    background-color: transparent;
    color: #fff;
}

.buttons .btn:hover,
.btn#active {
    background-color: #fff;
    color: #01a1f9;
}

.robot-animation {
    animation: robot-animation 2s infinite alternate;
}

@keyframes robot-animation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

@media (min-width: 576px) {
    .main-title {
        font-size: 35px;
        line-height: 45px;
    }
}

@media (min-width: 768px) {
    .hero {
        padding-top: 12em;
    }

    .buttons .btn {
        font-size: 1em;
    }

    .main-description {
        font-size: 1.25em;
        margin: 0;
    }

    .main-content .right-content img {
        height: auto;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .main-title {
        font-size: 45px;
        line-height: 55px;
    }

    .main-content .right-content img {
        height: auto;
        max-width: 50%;
    }
}

@media (min-width: 1400px) {
    .main-title {
        font-size: 60px;
        line-height: 70px;
    }
}
