.hero {
    background-color: #01a1f9;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.main-content > .left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
}

.main-content > .right-content {
    display: flex;
    flex-direction: row;
}

.main-content > .right-content > .two-people {
    height: 80%;
    align-self: flex-end;
}

.main-title {
    line-height: 70px;
}
.main-description {
    color: #fff;
    font-size: 1.25em;
}
