#our-work {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    padding-top: 5em;
}

.work-item {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px dashed var(--base-color-two);
    text-align: center;
    border-radius: 50%;
}

#our-work [class*='flaticon']::before {
    display: inline-block;
    font-size: 5em;
    background: linear-gradient(
        135deg,
        var(--base-color-two),
        var(--base-color-one)
    );
    padding: 0.45em 0.5em;
    border-radius: 50%;
    color: white;
}
