.projects-title {
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.single-project {
    position: relative;
}

.hover-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(
        315deg,
        var(--base-color-one),
        var(--base-color-two)
    );
    transition: all 0.3s;
}

.project-link {
    position: absolute;
    left: 0;
    bottom: -2em;
    font-size: 22px;
    font-weight: 700;
    color: white;
    padding: 1em;
    transition: all 0.3s;
}

.project-link:hover {
    color: black;
}
.project-image {
    width: 100%;
}

.single-project:hover .hover-gradient {
    opacity: 0.9;
}

.single-project:hover .project-link {
    bottom: 0;
}
