#neuron-about {
    background-color: #fdfdfd;
}

.tiles {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 1em 2em;
    color: #333;
    margin-bottom: 3em;
    text-align: center;
    resize: horizontal;
    box-shadow: 1em 0.7em 5em #e9e9e9;
    border-radius: 0.5em;
}

.tiles-content {
    max-width: 275px;
}

.tiles-content .title {
    font-size: 1.1em;
    font-weight: 600;
    margin: 1em 0;
}

.tiles:hover {
    background-image: linear-gradient(135deg, #01a0f9, #09c778);
    transition: all 0.75s ease-in-outd 0s
}

.tiles:hover p,
.tiles:hover .title,
.tiles:hover [class*='flaticon-']::before {
    color: white;
}





.about-description {
    background-color: #fff;
    text-align: left;
    line-height: 1.em;
    /* padding: 0.67em; */
    margin-bottom: 0.8em;
    color: #333;
}

.section-title {
    font-size: 1.5em;
    line-height: 1.2em;
    /* margin: 1.3em 1.3em 1.3em 0; */
    margin-bottom: 1em;
    color: #333;
}


.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.75em 2.5em;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(135deg, #01a0f9, #09c778);
    border: 1px solid #fff;
    border-radius: 2em;
    transition: all 0.3s;
    margin-bottom: 2em;
}

.btn:hover {
    background: linear-gradient(0deg, #01a0f9, #09c778);
    transition: all 0.7s ease-out;
}

a {
    text-decoration: none;

}

.img {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}

@media (min-width: 546px) {
    .section-title {
        font-size: 2em;
    }

    p {
        font-size: 16px;
        margin: 1.3em;
    }
}

@media (min-width: 768px) {
    .container-tiles {
        display: flex;
        justify-content: space-around;
    }

    .tiles {
        /* display: flex;
        flex-direction: row; */
        max-width: 325px;
    }
}

@media (min-width: 992px) {

    p {
        font-size: 14.1px;
        line-height: 1.8em;
    }

    .upper-row {
        padding: 3em 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .container-tiles {
        display: block;
        align-content: center;
    }

    .column-left {
        position: relative;
        top: -3.33em;
        float: left;
    }

    .column-right {
        position: relative;
        top: 3.33em;
        float: right;
    }

    .tiles {
        padding: 15px 10px;

    }

    .tiles-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 195px;
    }

    .tiles .responsive-title {
        /*first tile height small correction*/
        font-size: 15.4px;
    }

    .about-description {
        float: right;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lower-row {
        display: block;
    }

    img {
        float: right;
    }

    .lower-about-description {
        float: left;
    }

}