#neuron-about {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upper-row {
    display: flex;
    flex-wrap: row;
}

.container-tiles {
    background-color: rgb(68, 68, 241);
    display: block;
    width: 1000px;
}

.column-left {
    float: left;
    position: relative;
    top: -50px;
}

.column-right {
    float: right;
    position: relative;
    top: 50px;
}

.about-description {
    background-color: rgb(255, 255, 255);
    width: 700px;
    display: block;
    text-align: left;
    line-height: 30px;
    padding: 10px;
    margin: 20px;
}

#neuro-about>div>[class*='flaticon-']:befor {
    font-size: 100px;

}

.flaticon-artificial-intelligence-1:before {
    font-size: 100px;
}

.tiles {
    background: pink;
    width: 230px;
    padding: 15px 0;
    margin: 30px;
    text-align: center;
}

.lower-row {
    display: flex;
    flex-wrap: row;
}

.section-title {
    margin: 20px;
}

.section-description {
    margin: 20px;
}

.title {
    margin: 20px;
}

.description {
    margin: 20px;
}